doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='Ryan Stefan')
    meta(name='description', content='Project 3')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title  Project 3 - Contact 
    link(rel='stylesheet', href='../css/project_3.css')
    script(src='../scripts/thankYou.js')
    script(src='../scripts/validNumber.js')
    script(src='../scripts/validEmail.js')
    script(scr='../scripts/tyEmail.js').
    // <script src="validContact.js"></script>
  body
    block content
    br
    hr
    footer
        p Copyright &copy; 2017