/* Ryan Stefan */

body{background-color:hsla(0,0%,50%,1); color:maroon; font-family: helvetica, arial;}
header {text-align: center;}
h1 {text-align: center;}
h2 {text-align: center; text-decoration: underline black; margin-top: 50px;}
h3 {text-align: center; margin-top: 75px; text-decoration: underline black;}
hr {width:100%; border: 1px solid black;}
figcaption {text-decoration: underline overline black;}
li {text-align: left; padding: 30px;}
div {padding: 5px;}
p {text-align: center;}
footer {width: 100%; margin-left: auto; margin-right: auto; text-align: center; margin-top: 40px; margin-bottom: 20px;}
figure {text-align: center;}
aside {padding: 5px; text-align: center;}

.table {
  display: table;
  border-spacing: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}
.caption {
  display: table-caption;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline black;
}
.row {display: table-row;}
.row > * {
  display: table-cell;
  text-align: center;
}

caption {font-size: 30px; background: white; color: black; border: 1px solid black; text-align: center;}
.center {margin-left: auto; margin-right: auto; margin-top: 75px;}
table {justify-content: center; border-collapse: collapse;}
th {background: black; color: white;}
th, td {border: thin solid; text-align: center; padding: 5px;}
td > span {display: block; text-align: center;}
.wakeup {background-color: #26C6DA;}
.morning {background-color: yellow;}
.intern {background-color: crimson;}
.dinner{background-color: lightgreen;}
.study{background-color: salmon;}
.night{background-color: plum;}

.audio {text-align: center;}

.video {text-align: center;}

.form {margin-top: 75px; font-size: 20px; text-align: center;}
label{display: inline-block; width: 125px; margin-right: 30px; margin-bottom:5px; text-align:right; padding: 5px;}
/* fieldset{border: none; width: 200px; margin: 0px auto;} */
textarea{margin-left: auto; margin-right: auto;}

a:link {color: white;}
a:visited {color: black;}
a:hover {color: blue;}
a:active{color: yellow;}

canvas {}
